body { width: 300px; margin: 0; font: 11px Helvetica, Arial, sans-serif; font-weight: bold; color: #fff; }
#album-art { float: left; }
a { color: #fff; }
#username { text-align:center; color: blue; margin-bottom: 10px; }
#current-song { overflow: hidden; height: 40px; background: url('imgs/middle-bg.png') no-repeat; padding: 10px 0 0 5px; }
#current-song div { width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
#song { font-weight: bold; text-shadow: #333 0.1em 0.1em 0.2em; }
#player-controls { text-align: center; margin: 0 auto; height: 40px; background: url('imgs/controls-bg.png') repeat-x; }
#player_times { float: right; line-height: 40px; margin-right: 10px; }
button { cursor: pointer; border: none; width: 32px; height: 32px; background: url('imgs/controls.png'); }
.player_control:hover button {background-position: -40px 0;}
.player_control:active button {background-position: -80px 0;}
#player_play_pause[disabled="disabled"], #player_play_pause.disabled {background-position: 0 0;}
#player_play_pause[disabled="disabled"]:hover, #player_play_pause.disabled:hover {background-position: 0 0;}
#player_play_pause[disabled="disabled"]:active, #player_play_pause.disabled:active {background-position: 0 0;}
#player_play_pause{background-position: -40px 0;}
#player_play_pause:hover {background-position: -80px 0;}
#player_play_pause:active {background-position: -120px 0;}
#player_play_pause.pause {background-position: -40px -40px;}
#player_play_pause.pause:hover {background-position: -80px -40px;}
#player_play_pause.pause:active {background-position: -120px -40px;}
#player_play_pause.buffering { background: url(imgs/loading.gif) top left no-repeat; padding:0; background-position: 8px 8px;}
#player_previous[disabled="disabled"], #player_previous.disabled {background-position: -5px -80px;}
#player_previous[disabled="disabled"]:hover, #player_previous.disabled:hover {background-position: -5px -80px;}
#player_previous[disabled="disabled"]:active, #player_previous.disabled:active {background-position: -5px -80px;}
#player_previous {background-position: -45px -80px; width: 30px;}
#player_previous:hover {background-position: -85px -80px;}
#player_previous:active {background-position: -125px -80px;}
#player_next[disabled="disabled"], #player_next.disabled {background-position: -5px -120px;}
#player_next[disabled="disabled"]:hover, #player_next.disabled:hover {background-position: -5px -120px;}
#player_next[disabled="disabled"]:active, #player_next.disabled:active {background-position: -5px -120px;}
#player_next {background-position: -45px -120px; width: 30px;}
#player_next:hover {background-position: -85px -120px;}
#player_next:active {background-position: -125px -120px;}
